@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
*{
    box-sizing: border-box;
    color: black;
    font-size: 15px;
    /* background: #CC95C0;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header-div
{
    border: 2px solid white;
    height: 130px;
    background-color: beige;
}
#main-div{
    border: 2px solid white;
    margin-top: 50px;


}


ul li{
    list-style: symbols(star);
    text-transform: capitalize;
    text-align: left;
    margin-top: 50px;
    font-family: 'Merienda', cursive;
    margin-left: 10px;
font-size: 20px; 
padding: 10px;
line-height: 10px;
} 
#footer-div
{
    margin-top: 15%;
    height: 150px;
    background-color: beige;


}
#png{
    height: 500px;
    width:1000px;
    margin-left: 150px;
    margin-top: 50px;
}
#headone{
    font-family: 'Merienda', cursive;
    margin-right: 10%;
    margin-top: -90px;
    font-size: 60px;
    text-shadow: 10px 10px 5px lightgoldenrodyellow;
    margin-left:15% ;}

#img-container{
    border: 2px solid white;
    display: inline;
    float: right;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}
.img{
    float: right;
    padding: 10px;
    margin-right: 120px;
    margin-left: 10px;
    height: 200px;
    border: 2px solid white;
    /* box-sizing: border-box; */
}
#logo{  
      height: 90px;
      margin-top: 50px;

}
#hfoot{
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Merienda', cursive;

}
#canvasDiv{
    margin-left: 50px;
    margin-right: 50px;
    width:900px;
    margin-top: 500px;
}
#img-hade{
    text-transform: uppercase;
    margin-top: 90px;
    text-align: center;
    margin-left: 250px;
    margin-right: 500px;
    letter-spacing: 30px;
    font-size: 70px;
    font-family: 'Merienda', cursive;

}
#mainImg{
    margin-left: 350px;
    margin-right: 50px;
}
